<div class="form-row">
    <div class="form-group">
        <label for="search">Ville : </label>
        <input type="text" id="search" [formControl]="searchControl" placeholder="Rechercher..." autocomplete="off" />
    </div>
    
    <div class="form-group">
        <label for="number">Nombre maxi. de résultats : </label>
        <input type="number" id="number" [(ngModel)]="limit" placeholder="Limite" />
    </div>
    <div class="form-group">
        <label for="search-button">          </label>
        <button id="search-button" class="search-button" (click)="searchPOIs()">
        {{ isLoading ? 'Recherche en cours...' : 'Rechercher' }}
         </button>
    </div>
</div>

<div class="form-row">
    <!--Affichage conditionnel de la liste de suggestions-->
    <div class="loading-indicator">{{ isLoading ? '🔍 recherche en cours...' : '_______________________' }}</div>
    <div class="error-message"></div>
    <!--Affichage conditionnel du nombre de restaurants trouvés-->
    @if(!isLoading && pois.length > 0) {
        <div><strong>{{ pois.length }} {{ pois.length === 1 ? 'restaurant trouvé' : 'restaurants trouvés' }}</strong></div>
    }
    <button class="reset-map" (click)="resetMap()">Reset view</button>
</div>

<div class="form-row">
    <div class="suggestions-container">
        @if (suggestions().length > 0 && !isLoading) {
        <ul class="suggestions-list">
            @for (place of suggestions(); track place.place_id; let i = $index) {
            <li (click)="selectPlace( place )" [class.selected]="i === selectedIndex()" >
                {{ place }}
            </li>
            }
        </ul>
        }
    </div>
</div>

<div class="form-row">
    <div id="map" style="height: 75vh; width: 100%;"></div>
</div>
