<div class="form-row">
    <div class="form-group">
        <label for="search">Ville : </label>
        <input type="text" id="search" [formControl]="searchControl" placeholder="Rechercher..." autocomplete="off" />
    </div>
    
    <div class="form-group">
        <label for="number">Nombre maxi. de résultats : </label>
        <input type="number" id="number" [(ngModel)]="limit" placeholder="Limite" />
    </div>
    <button class="search-button" (click)="searchPOIs()" [disabled]="isLoading">
        {{ isLoading ? 'Recherche en cours...' : 'Rechercher' }}
    </button>
</div>

<div class="form-row">
     @if (isLoading) {
      <div class="loading-indicator">🔍 recherche en cours...</div>
    }

    @if(!isLoading && pois.length > 0) {
        <div><strong>{{ pois.length }} restaurants trouvés</strong></div>
    }
</div>

<div class="form-row">
    <div class="suggestions-container">
        @if (suggestions().length > 0 && !isLoading) {
        <ul class="suggestions-list">
            @for (place of suggestions(); track place.place_id; let i = $index) {
            <li (click)="selectPlace( place )" [class.selected]="i === selectedIndex()" >
                {{ place }}
            </li>
            }
        </ul>
        }
    </div>
</div>

<div class="form-row">
    <div id="map" style="height: 750px; width: 100%;"></div>
</div>
